<html>
    <head>
    <title>HTML::Template test</title>
    </head>
    <body>
    <ul>
        <tmpl_loop name="name">
        <li>
            <tmpl_var name="name">
            : 
            <TMPL_var NAME="age">
        </li>
    <ul>
    </tmpl_loop>
    </body>
</html>
